body {
    background: linear-gradient(rgb(255, 100, 100) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%)
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.aku {
    width: 200px;
}
.BIODATA {
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(225, 225, 225) 50%, rgb(20, 20, 20) 100%);
    padding-bottom: 200px
}
.footer {
    background-color: #fff;
}